@import "tailwindcss";

@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder.ttf');
}

@font-face {
    font-family: 'Heming';
    src: url('/fonts/Heming.ttf');
}

@theme {
    --font-display: 'Thunder', sans-serif;
    --font-sans: 'Heming', sans-serif;

    --color-base-50: #fafafa;
    --color-base-100: #fff7f3;
    --color-base-200: #eee7e3;
    --color-base-300: #ddd7d3;
    --color-base-400: #aaa7a3;
    --color-base-500: #777773;
    --color-base-600: #555753;
    --color-base-700: #444743;
    --color-base-800: #222723;
    --color-base-900: #111713;
    --color-base-950: #000703;
}

* {
    scrollbar-width: none;
}

thead tr {
    @apply border-b border-base-800
}

tbody tr td {
    @apply pt-3 pb-1.5
}

tr td:not(:last-child) {
    @apply pr-8
}

thead td {
    @apply py-2 font-medium text-xs uppercase tracking-wide text-base-400
}