---
import Layout from '../layouts/Layout.astro';
---

<Layout page="Error 404">
    <div slot="header" class="space-y-2.5">
		<h1 class="font-display uppercase text-pretty text-6xl md:text-7xl lg:text-8xl select-none">Error 404</h1>
		<h2 class="text-xl text-base-300">Página no encontrada</h2>
	</div>
</Layout>