---
import { name } from '../data';
import Layout from '../layouts/Layout.astro';
---

<Layout page={`Error 404 - ${name}`}>
	<div slot="other" class="w-full h-full text-center flex flex-col items-center justify-center gap-1.5">
    	<h2 class="font-display font-bold uppercase text-5xl tracking-tight">Error <span class="text-gradient">404</span></h2>
		<h2 class="font-mono font-semibold text-sm text-center text-base-800">Página no encontrada</h2>
	</div>
</Layout>