---
import IconAlert from "./icons/IconAlert.astro";
---

<a href="/notice" title="Este no es un sitio oficial de la serie" role="alert" class="w-fit h-fit p-2 fixed bottom-6 left-6 md:bottom-3 md:left-3 flex items-center justify-center gap-2 rounded-xl font-bold text-pretty text-xs tracking-tight text-base-900 backdrop-blur-xs bg-white/40 select-none transition duration-200 hover:bg-white/30">
    <IconAlert />
    Sitio no oficial
</a>