---
interface Props {
    text: string
    link: string
    size?: 'sm' | 'md'
    target?: '_self' | '_blank' | '_parent' | '_top'
    title?: string
    className?: string
}

const { text, link, size = 'md', target = '_self', title, className } = Astro.props as Props;
---

<a href={link} target={target} aria-labelledby={title} class:list={[
    'w-fit h-fit group flex items-center gap-1.5 transition duration-200 hover:text-white select-none',
    {
        'font-medium text-xs text-base-400 tracking-wide': size === 'sm',
        'md:text-sm text-base-300': size === 'md'
    },
    className
]}>
    <slot name="l" />
    <span class={`${size === 'md' ? 'pt-1.5' : ''}`}>{text}</span>
    <slot name="r" />
</a>