---
interface Props {
    title: string
}

const { title } = Astro.props as Props;
---

<div class="text-nowrap flex items-baseline justify-between gap-2">
    <hgroup class="font-semibold tracking-tight">{title}</hgroup>
    <div class="content-none w-full h-full border-b border-dotted border-base-800"></div>
    <span class="font-medium tracking-tight text-end">
        <slot />
    </span>
</div>